@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600&display=swap');


:root
{
    --color-negro:  black;
    --color-blanco: white;
    --color-azul: #103c8a;
    --color-celeste: #46b9d6;
    --color-verde: #033440;
    --color-turquesa: #02a6c6;
    --color-blanco-azulado: rgb(245, 250, 255);
}

/*********************************DISEÑO PARA ESCRITORIO*****************************/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
}

#items-container i:last-child
{
    color: var(--color-azul);
}

#cart-container
{
    width: 100%;
    height: 75vh;
    max-height: 75vh;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blanco-azulado);
}

#cart-items-container
{
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    padding: 2px 0;
}

.cart-item
{
    width: 100%;
    height: 9vw;
    background-color: var(--color-blanco);
    justify-content: space-between;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10% 25% 10% 10% 10% 15%;
    align-items: center;
    font-family: signika, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.cart-item > div
{
    display: flex;
    justify-content: space-around;
}

.cart-item b
{
    color: var(--color-azul);
}

.cart-item button
{
    width: 2vw;
    height: 2vw;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    padding: 2px;
    border: 1px solid black;
    transition: all ease .2s;
    justify-self: center;
}

.btn1:hover
{
    background-color: red;
    color: white;
}

.btn2:hover, .btn3:hover
{
    background-color: var(--color-turquesa);
    color: white;
}

#mensajes_carrito
{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    font-family: signika, sans-serif;
    color: var(--color-azul);
}

.show-mensajes_carrito
{
    display: unset !important;
}

.show-mensajes_carrito2
{
    display: unset !important;
    background-color: red !important;
}

.prod-img
{
    height: 8vw;
    width: 6.7vw;
}

#btn-section
{
    width: 50%;
    height: 15%;
    align-self: end;
    background-color: var(--color-blanco-azulado);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-section button
{
    border-radius: 5px;
    width: 20%;
    height: 60%;
    font-family: signika, sans-serif;
    font-size: 15px;
    transition: all .2s;
    cursor: pointer;
    background-color: var(--color-turquesa);
    color: var(--color-blanco);
    border: 1px solid #ccc;
}

#btn-section div
{
    width: 25%;
    height: 60%;
    text-align: center;
    line-height: 6.75vh;
}

#btn-section button:hover
{
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

#precioFinal
{
    font-family: signika, sans-serif;
    font-size: 16px;
}

/*************************************DESARROLLO PARA TABLET LANDSCAPE (large)*************************************/
@media screen and (max-width: 1024px)
{
.cart-item
{
    height: 12vw;
    font-size: 18px;
}
    
.cart-item button
{
    padding: 0;
    width: 2.5vw;
    height: 2.5vw;
}

#btn-section
{
    width: 60%;
}

}


/*************************************DESARROLLO PARA TABLET PORTRAIT (large)*************************************/
@media screen and (max-width: 768px)
{

#cart-container
{
    margin-top: 10vw;
}

#cart-items-container
{
    height: 90%;
}

#btn-section
{
    height: 10%;
    width: 80%;
}

#btn-section button
{
    border-radius: 5px;
    background-color: var(--color-turquesa);
    color: var(--color-blanco);
    border: 1px solid #ccc;
}

#btn-section div
{
    line-height: 5.4vh;
}

.cart-item
{
    padding: 0 10px;
    font-size: 15px;
    grid-template-columns: 10% 20% 10% 15% 10% 15%;
}

.cart-item button
{
    width: 3vw;
    height: 3vw;
}

}


/******************************DESARROLLO TABLET LANDSCAPE (SMALL)************************************/
@media screen and (max-width: 920px) and (max-height: 540px)
{

#cart-container
{
    margin-top: 6vw;
}

.cart-item
{
    font-size: 15px;
    padding: 0 10px;
}

#btn-section
{
    width: 60%;
    height: 20%;
}

#btn-section button
{
    border-radius: 5px;
    font-size: 12px;
}
    
}


/*************************************DESARROLLO PARA MÓVIL LANDSCAPE*************************************/
@media screen and (max-width: 740px) and (max-height: 415px)
{

.cart-item, .cart-item button
{
    font-size: 12px;
}

#btn-section
{
    width: 70%;
    width: 80%;
}

#btn-section button
{
    font-size: 12px;
    width: 25%;
}

#precioFinal
{
    font-size: 14px;
}

#mensajes_carrito
{
    font-size: 25px;
    top: 30%;
}

}

/*************************************DESARROLLO PARA TABLET PORTRAIT (small)*************************************/
@media screen and (max-width: 480px) /*and (max-height: 800px)*/
{

#cart-container
{
    margin-top: 12vw;
}

.cart-item
{
    height: 30vw;
    grid-template-columns: 10vw repeat(3, 22vw);
    grid-template-rows: repeat(2, 50%);
    font-size: 12px;
}

.prod-img
{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: auto;
}

.btn-cart-container
{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65%;
}

.cart-item button
{
    width: 5vw;
    height: 5vw;
}

#btn-section
{
    width: 100%;
}

#btn-section button
{
    width: 25%;
    font-size: 12px;
}

#btn-section div
{
    width: 35%;
    height: 60%;
    line-height: 4.5vh;
}

}




/*************************************DESARROLLO PARA MÓVIL PORTRAIT*************************************/
@media screen and (max-width: 320px)
{

#cart-container
{
    margin-top: 12vw;
}

.cart-item
{
    font-size: 12px;
}

.btn-cart-container
{
    height: 90%;
}

.cart-item button
{
    width: 6vw;
    height: 6vw;
}

}